@import './reset';
@import './prism-coy-without-shadows';


:root {
    --bg           : #F2F2F2;
    --text-color   : #3c3c3c;
    --link         : #222;
    --link-active  : #444;
    --link-hover   : #999;
    --link-bg      : rgba(170, 202, 251, 0.5);
    --link-bg-hover: rgba(170, 202, 251, 0.9);
    --code-font    : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --hr-color     : #555;
    --article-gap  : 4rem;
    --date-color   : #666;
    --tag-color    : #555;
}

@media only screen and (min-width: 801px) {
    :root {
        --article-gap: 6rem;
    }
}

[data-theme="dark"] {
    --bg           : #272f3c;
    --text-color   : #FFF;
    --link         : #FFFA;
    --link-active  : #FFF9;
    --link-hover   : #FFFD;
    --link-bg      : rgba(170, 202, 251, 0.5);
    --link-bg-hover: rgba(170, 202, 251, 0.9);
}



$bg-col-1: #33455B;
$col-2   : #AB4D45;

.menu {

    list-style-type: none;

    [aria-current]:not([aria-current="false"]) {
        font-weight: bold;
    }

    li {
        margin-bottom: 1em;
    }

    a {
        color          : var(--link);
        text-decoration: none;

        &[href] {
            color: var(--link-active);
        }

        &:hover {
            color          : var(--link-hover);
            text-decoration: underline;
        }
    }
}


h1 {
    margin-block-start: 2rem;
    margin-block-end  : 1rem;
    font-weight       : 500;
    font-size         : 1.5rem;
}

h2 {
    display           : block;
    font-size         : 1.25rem;
    font-weight       : 400;
    margin-block-start: 2rem;
    margin-block-end  : 1rem;
}

hr {
    height          : 1px;
    border          : none;
    color           : --hr-color;
    background-color: --hr-color;
    width           : 60%;
    text-align      : center;
    margin          : 0 auto;
    margin-bottom   : 2em;
}

/* Inline code */
:not(pre)>code {
    padding       : .2em;
    padding-top   : 1px;
    padding-bottom: 1px;
    background    : #f8f8f8;
    border        : 1px solid #dddddd;
    font-family   : var(--code-font);
}

.odgn-header {
    display       : flex;
    flex-direction: row;

    .title {
        font-size  : 24px;
        font-weight: 400;
    }

    * {
        margin-right: 6px;
    }
}

.site-nav,
menu {
    li {
        display: inline;
    }
}

body {
    font            : 1.0rem "Fira Sans", sans-serif;
    background-color: var(--bg);
    color           : var(--text-color);

    display: grid;

    justify-content      : start;
    // align-items       : center;
    margin               : 1rem;


    grid-template-rows   : 8rem auto;
    grid-template-columns: 1fr;
    grid-template-areas  :
        "header"
        "content"
        "footer";

    @media only screen and (min-width: 801px) {
        justify-content      : center;
        align-items          : center;
        grid-template-columns: 0.25fr 0.5fr 0.25fr;
        grid-template-areas  :
            "header header header"
            "... content ..."
            "footer footer footer";
    }



}

body>header {
    grid-area: header;
    display  : flex;

    flex-direction : column;
    align-items    : flex-start;
    justify-content: space-around;


    @media only screen and (min-width: 801px) {
        flex-direction : row;
        align-items    : center;
        justify-content: space-around;
    }
}



.site-nav {
    grid-area: header;
}

body>footer {
    grid-area: footer;
}

main {
    grid-area      : content;
    justify-content: center;




    ol,
    ul {
        display             : block;
        margin-left         : 60px;
        padding-inline-start: 40px;
        margin-block-start  : 1em;
        margin-block-end    : 1em;
    }

    i,
    li,
    p {
        line-height: 24px;
    }

    ol {
        list-style-type: decimal;
    }

    p {
        margin-block-start: 1em;
        margin-block-end  : 1em;
    }

    img {
        max-width: 640px;
    }

    a {
        color              : var(--link);
        // background-color: var(--link-bg);
        text-decoration    : underline;

        &:visited {
            //   color: $visit;
        }

        &:hover {
            color              : var(--link-hover);
            // background-color: var(--link-bg-hover);
        }

        &:active {
            //   color: $active;
        }
    }
}



.projects {

    display              : grid;
    grid-gap             : 50px;
    grid-template-columns: repeat(2, minmax(200px, 0.5fr));
    grid-auto-flow       : row;



    .project {
        display           : grid;
        grid-template-rows: auto 50px 1rem;
        align-items       : end;

        padding  : 1rem;
        font-size: 0.8rem;

        position: relative;

        h2 {
            font-weight: bold;
            font-size  : 1.4rem;
            margin     : 0 0 0.5rem 0;
        }

        p {
            font-style   : italic;
            margin-bottom: 0.3rem;
            overflow     : hidden;
            text-overflow: ellipsis;
            white-space  : normal;
        }

        .link {
            position: absolute;
            width   : 100%;
            height  : 100%;
            top     : 0;
            left    : 0;
            z-index : 1;
        }
    }

}

article {
    position: relative;

    margin-bottom: var(--article-gap);

    time {
        font-size: 0.8rem;
        color    : var(--date-color);
    }
}

article.blog-summary {
    margin-bottom: 1rem;
}


article.project {
    .link {
        position: absolute;
        width   : 100%;
        height  : 100%;
        top     : 0;
        left    : 0;
        z-index : 1;
    }
}

header>a {
    text-decoration: none;

    &:hover {
        color          : var(--link-hover);
        text-decoration: underline;
    }
}

ul.tags {
    list-style-type: none;
    margin         : 0;
    font-size      : 0.85rem;
    text-transform : capitalize;
    color          : var(--tag-color);

    li {
        display: inline;
    }
}